// custom dropdown

.dropdown {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;

  &__button {
    height: 40px;
  }

  .icon {
    transition: all 0.2s $easeOutQuart;
  }

  &.-is-dd-active {
    .border-light {
      border: 2px solid var(--color-dark-1) !important;
    }

    .icon {
      transform: rotate(180deg);
    }
  }

  &__item {
    position: absolute;
    z-index: 500;
    pointer-events: none;
    top: 100%;
    left: 50%;
    padding: 26px;
    background-color: white;
    box-shadow: 0px 25px 70px rgba(1, 33, 58, 0.07);
    min-width: 180px;
    border-radius: 8px;
    transition: all 0.2s $easeOutQuart;
    transform: translateX(-50%);
    opacity: 0;
  }

  &:hover {
    .dropdown__item {
      z-index: 20;
      transform: translateX(-50%);
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.dropdown-menu {
    border: none;
    padding: 0;
    z-index: 7;
    max-height: 450px;
    overflow: auto;

    button {
        font-weight: 500;
        
        &:hover {
            color: var(--color-blue-1);
        }
    }
}

.toggle-element {
  transition: all 0.2s $easeOutCubic;

  &.-down {
    transform: translateY(20px);
  }

  &.-is-el-visible {
    z-index: 25;
    transform: none;
    opacity: 1;
    pointer-events: auto;
  }

  &.-dropdown {
    padding: 14px 20px;
    background-color: white;
    box-shadow: 0px 25px 70px rgba(1, 33, 58, 0.07);
    min-width: 165px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    font-weight: 500;
  }

  &.-dropdown-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 25px 70px rgba(1, 33, 58, 0.07);
    min-width: 120px;
    border-radius: 4px;
    transition: all 0.2s $easeOutQuart;
    transform: translateX(-50%);

    a,
    button {
      padding: 10px;

      &:hover {
        background-color: var(--color-light-2);
        color: var(--color-dark-1);
      }
    }
  }
}

.toggle-element.dropdown-menu {
    button {
        width: 100%;
        text-align: left;
    }
}