.modalMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(16, 20, 25, 0.4);

  &.is-hidden {
    pointer-events: none;
    opacity: 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: calc(100% - 20px);
    max-width: 1050px;
    height: auto;
    max-height: 80%;
    transform: translate(-50%, -50%);

    .modalMenu__item {
      cursor: pointer;
      border-radius: 8px;
      &:hover,
      &.active {
          background-color: rgba(53, 84, 209, 0.05) !important;
  
          > * > :first-child {
              color: var(--color-dark-1);
          }
      }
      &.disabled {
          cursor: unset;
          background-color: #a2a8bf0d !important;
          color: var(--color-border);
  
          > * > :first-child {
              color: var(--color-dark-5);
          }
      }
  }
  }
}

// mega menu for lang and currency
.modalGrid__item,
.modalGrid__item > * > :first-child {
    transition: all 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.modalGrid__item {
    cursor: pointer;
    border-radius: 8px;
    &:hover,
    &.active {
        background-color: rgba(53, 84, 209, 0.05) !important;

        > * > :first-child {
            color: var(--color-dark-1);
        }
    }
    &.disabled {
        cursor: unset;
        background-color: #a2a8bf0d !important;
        color: var(--color-border);

        > * > :first-child {
            color: var(--color-dark-5);
        }
    }
}

.singleMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  top: 0;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  transition: all 0.15s $easeOutQuart;
  opacity: 0;
  pointer-events: none;

  &.-is-active {
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    width: 100%;
    padding: 8px 0;

    @media (max-width: 540px) {
      padding-bottom: 0px !important;
    }
  }

  &__links {
    a {
      font-size: 15px;
      font-weight: 500;
    }
  }
}

// mobile menu
.mobile_menu-contnet {
    color: var(--color-dark-1);
    &.offcanvas {
        min-height: 100vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: #fff;
        }
        &::-webkit-scrollbar-thumb {
            background: #ccc;
            border-radius: 8px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
    .ps-sidebar-root {
        margin-top: 20px;
        margin-bottom: 20px;

        ul li a {
            font-size: 22px;
            height: 41px;

        }
        .ps-submenu-expand-icon {
            > span {
                width: 7px;
                height: 7px;
                color: #777;
            }
        }
    }
    .pro-header {
        .fix-icon {
            cursor: pointer;
            &:hover {
                color: var(--color-blue-1);
            }
        }
    }
    .pro-header {
        padding: 12px;
    }
    .pro-footer {
        padding: 20px;
    }
}

.menu-active-link {
    color: var(--color-blue-1);
    .inactive-menu{
        color: #051036 !important;
    }
}
.nested-menu-active {
    color: var(--color-blue-1) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--color-blue-1);
    box-sizing: content-box;
}
.nested-menu-inactive {
    border-bottom: 2px solid white;

}

.desktopMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 450px;
  max-width: 100%;
  height: 100%;
  transition: all 0.3s $easeOutQuart;
  opacity: 0;
  pointer-events: none;

  .mobile-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background-color: color-opac(dark-1, 0.5);
  }

  &.is-menu-active {
    opacity: 1;
    pointer-events: auto;

    .-is-active {
      pointer-events: auto !important;
      // overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .menu {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    height: 100%;

    ul {
      pointer-events: none;
    }

    li {
      overflow: hidden;
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      border-radius: 4px;
      font-weight: 500;
      color: var(--color-dark-1);
      transition: all 0.2s $easeOutQuart;

      .icon {
        font-size: 8px;
        transform: rotate(-90deg);
      }

      &:hover {
        color: var(--color-blue-1);
      }
    }

    &__nav {
      display: flex;
      flex-direction: column;

      > li > a {
        font-size: 20px;

        &:hover {
          background-color: color-opac(blue-1, 0.05) !important;
        }
      }
    }

    .subnav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      a {
        height: 40px;
        font-size: 18px;
        padding: 0 20px;
        transform: translateY(100%);
      }

      &__backBtn {
        margin-bottom: 10px;

        li {
          padding: 0;
        }

        a {
          justify-content: flex-start;
          height: 50px;
          font-size: 20px;
          color: var(--color-blue-1);
          background-color: color-opac(blue-1, 0.05) !important;

          .icon {
            margin-right: 12px;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}