.sidebar {
  padding: 20px;
  background: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 4px 0px;

  @media (max-width: 1199px) {
    border: none;
    box-shadow: none;
  }

  &__item:not(.-no-border) {
    border-top: 1px solid var(--color-border);
  }

  &.-mobile-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 70px;

    .-icon-close {
      position: absolute;
      top: 20px;
      left: 24px;
    }

    @include media-below(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include media-below(sm) {
      grid-template-columns: 1fr;
    }

    > * {
      border-top: none !important;
    }
  }
}

.sidebar.-blog {
  > * + * {
    padding-top: 30px;
    margin-top: 30px;
  }
}

.booking-sidebar {
  margin-left: 80px;
  @media (max-width: 1199px) {
    margin-left: 0;
  }
}
