.switch {
  --_switch-bg-clr: #0a31610d;  // Background color for the entire switch
  --_switch-padding: 4px;
  --_slider-bg-clr: var(--color-blue-1);  // Slider background color when unchecked
  --_slider-bg-clr-on: #ff0000;  // Slider background color when checked
  --_slider-txt-clr: #ffffff;  // Font color for active switch label
  --_label-padding: 0.5rem 1rem;
  --_switch-easing: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  color: var(--color-blue-1);  // Default text color for the switch
  transition: color 300ms ease-in-out;
  font-size: 12px;
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 9999px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  isolation: isolate;
}

.switch input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.switch > span {
  display: grid;
  place-content: center;
  transition: opacity 300ms ease-in-out 150ms;
  padding: var(--_label-padding);
}

.switch::before,
.switch::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: inset 150ms ease-in-out;
}

/* Switch slider background when unchecked */
.switch::before {
  background-color: var(--_slider-bg-clr);
  inset: var(--_switch-padding) 50% var(--_switch-padding) var(--_switch-padding);
  transition: inset 500ms var(--_switch-easing), background-color 500ms ease-in-out;
  z-index: -1;
}

/* Switch background color */
.switch::after {
  background-color: rgba(10, 49, 97, 0.05);
  inset: 0;
  z-index: -2;
}

/* Hover & focus states */
.switch:focus-within::after {
  inset: -0.25rem;
}

.switch:has(input:checked):hover > span:first-of-type,
.switch:has(input:not(:checked)):hover > span:last-of-type {
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 100ms;
}

/* Slider hover effect */
.switch:has(input:checked):hover::before {
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 45%;
}

.switch:has(input:not(:checked)):hover::before {
  inset: var(--_switch-padding) 45% var(--_switch-padding) var(--_switch-padding);
}

/* Checked state - move slider to right */
.switch:has(input:checked)::before {
  background-color: var(--_slider-bg-clr-on);
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 50%;
}

.switch > input:checked ~ span:last-of-type {
  color: #ffffff;
}

.switch > input:not(:checked) ~ span:first-of-type {
  color: #ffffff;
}
